<!DOCTYPE HTML>
<html>
<head>
    <title>Contact</title>
    <link href="${ctxPath}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="${ctxPath}/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <script src="${ctxPath}/js/jquery-1.11.0.min.js"></script>
</head>
<body>
<!--header strat here-->
<div class="banner1 agileits">
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="logo">
                    <h1><span class="books"></span> <a href="index.html">Learning</a></h1>
                </div>
                <div class="top-nav">
                    <span class="menu"> <img src="${ctxPath}/images/icon.png" alt=""></span>
                    <nav class="cl-effect-21" id="cl-effect-21">
                        <ul class="res">
                            <li><a href="index.html" class="active">首页</a></li>
                            <li><a href="about.html">关于</a></li>
                            <li><a href="shortcodes.html">Short Codes</a></li>
                            <li><a href="gallery.html">相册</a></li>
                            <li><a href="contact.html">加入我们</a></li>
                        </ul>
                    </nav>
                    <!-- script-for-menu -->
                    <script>
                        $("span.menu").click(function () {
                            $("ul.res").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- /script-for-menu -->

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--header end here-->
<!--banner end here-->
<!--contact start here-->
<div class="contact">
    <div class="container">
        <div class="contact-main">
            <div class="contact-top">
                <h2>Join Us</h2>
                <p>目前我们还是一个人的团队(哈哈),欢迎加入</p>
            </div>
            <div class="contact-block1">
                <div class="col-md-6 contact-address">
                    <h3>联系方式</h3>
                    <p>啥都不缺,就缺程序员啦...</p>
                    <ul>
                        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>
                            <p>北京市十里堡</p></li>
                        <li><span class="glyphicon glyphicon-phone" aria-hidden="true"> </span>
                            <p>15201231801</p></li>
                        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            <p><a href="mailto:157418979@qq.com">157418979@qq.com</a></p></li>
                    </ul>
                </div>
                <div class="col-md-6 contact-block-left">
                    <form action="#" method="post">
                        <input type="text" placeholder="姓名" required name="Name">
                        <input type="text" class="email" placeholder="邮箱" name="Email">
                        <input type="text" class="subject" placeholder="职业" name="Subject">
                        <textarea placeholder="自我介绍" name="message"></textarea>
                        <input type="submit" value="提交">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-map">
                <iframe width='1520' height='440' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'
                        src='http://f.amap.com/2xoZn_0DB3ZxK'></iframe>
            </div>
        </div>
    </div>
</div>
<!--contact end here-->
<!--footer start here-->
<div class="footer w3ls">
    <div class="container">
        <div class="footer-main">
            <div class="footer-top">
                <div class="col-md-4 ftr-grid">
                    <h3>Thanks</h3>
                    <p>感谢您选择我们</p>
                </div>
                <div class="col-md-4 ftr-grid">
                    <h3>Our Address</h3>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>北京市朝阳区十里堡</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>15201231801</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 ftr-grid">
                    <h3>Stay In Touch</h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="Enter Email" name="Enter Email" required>
                        <input type="submit" value="">
                    </form>
                    <ul class="ftr-social-icons">
                        <li><a class="fa" href="#"> </a></li>
                        <li><a class="tw" href="#"> </a></li>
                        <li><a class="dri" href="#"> </a></li>
                        <li><a class="p" href="#"> </a></li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-bottom">
                <div class="col-md-6 ftr-navg">
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about.html">关于</a></li>
                        <li><a href="shortcodes.html">Short Codes</a></li>
                        <li><a href="gallery.html">相册</a></li>
                        <li><a href="contact.html">加入我们</a></li>
                    </ul>
                </div>
                <!--<div class="col-md-6 copyrights">
                    <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.htmlsucai.com">&#72;&#84;&#77;&#76;&#32032;&#26448;&#32593;</a></p>
                </div>-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--footer end here-->
</body>
</html>